{% extends 'header.html' %}
{% load static from staticfiles %}
{% block content %}
    <div>
        <h1 align="center">This is Login Page</h1>
        <table align="center">
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                         Username:
                         <input type="text" placeholder="Enter Username" name="uname" required><br><br>
                         Password:
                         <input type="password" placeholder="Enter Password" name="psw" required><br><br>
                         <button type="submit">Login</button>
                    </form>
                    <a href="../reg/">Registrations</a><br>
                    <a href="../../password-reset">Forget Password</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}