{% extends 'header.html' %}
{% load static from staticfiles %}
{% block content %}
    <div>
        <h1 align="center">This is Reset Password Page</h1>
        <table align="center">
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                            Username:
                            <input type="text" placeholder="Enter username"
                                    name="uname" required><br><br>
                            New password:
                            <input type="password" placeholder="Enter password"
                                   name="psw" required><br><br>
                            Retype password:
                            <input type="password" placeholder="Enter Repassword"
                                    name="rpsw" required><br><br>
                            <button type="submit">Reset Password</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}